<div class="container-fluid">
    <form action="" [formGroup]="formCliente">
        <div class="row w-100 d-flex ps-5 pe-5 justify-content-center">
            <div class="card mt-5">
                <div class="row justify-content-center d-flex pt-3 pb-3">
                    <div class="col-4 ps-4 pe-4 titulo-pagina d-flex justify-content-center pt-2">
                        <h2>CADASTRAR NOVO CLIENTE</h2>
                    </div>
                </div>

                <div class="row d-flex">
                    <div class="col pb-5 d-flex justify-content-center">
                        <mat-stepper linear #stepper>

                            <mat-step>
                                <div class="row pt-3">
                                    <div class="col-8 d-flex">
                                        <ng-template matStepLabel>DADOS PESSOAIS</ng-template>
                                        <mat-form-field class="me-3 col-2 fields">
                                            <mat-label>CPF</mat-label>
                                            <input matInput formControlName="cpf" name="cpf" type="text" mask="000.000.000-00"
                                                placeholder="Digite o CPF" required>
                                        </mat-form-field>

                                        <mat-form-field class="me-3 col-4">
                                            <mat-label>Digite o Nome Completo</mat-label>
                                            <input matInput formControlName="nomeCompleto" name="nomeCompleto" type="text"
                                                placeholder="Ex. Lucas Malaquias C da Silva">
                                        </mat-form-field>

                                        <mat-form-field class="me-3 col-2">
                                            <mat-label>Data nascimento</mat-label>
                                            <input matInput name="dtNascimento" formControlName="dtNascimento" type="text" mask="d0/M0/0000"
                                                placeholder="Ex. 10/11/2000">
                                        </mat-form-field>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <mat-form-field class="me-3 col-2">
                                            <mat-label>RG</mat-label>
                                            <input matInput formControlName="rg" name="rg" type="text" mask="00.000.000-0"
                                                placeholder="Ex. 38.785.114-8">
                                        </mat-form-field>

                                        <mat-form-field class="me-3 col-2">
                                            <mat-label>Celular</mat-label>
                                            <input matInput formControlName="celular" name="celular" type="text" mask="d0/M0/0000"
                                                placeholder="Ex. (19) 99433-0639">
                                        </mat-form-field>
                                    </div>
                                    <div class="justify-content-end d-flex">
                                        <button mat-button class="btn-step-next" matStepperNext>
                                            <i-feather name="chevron-right"></i-feather>
                                        </button>
                                    </div>
                                </div>
                            </mat-step>

                            <mat-step>
                                <ng-template matStepLabel>ENDEREÇO</ng-template>

                                    <div class="row">
                                        <div class="col-8">
                                            <mat-form-field class="col-2">
                                                <mat-label>CEP</mat-label>
                                                <input name="cep" formControlName="cep" matInput mask="00000-000" type="text"
                                                    placeholder="Ex. 13349-053">
                                            </mat-form-field>

                                            <mat-form-field class="col-5 ms-3">
                                                <mat-label>Rua</mat-label>
                                                <input matInput formControlName="nomeRua" name="nomeRua" type="text"
                                                    placeholder="Ex. Rua Jangada do Campo">
                                            </mat-form-field>


                                            <mat-form-field class="col-1 ms-3">
                                                <mat-label>Número</mat-label>
                                                <input matInput formControlName="numeroCasa" name="numeroCasa" type="text" placeholder="Ex. 71">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-8">
                                            <mat-form-field class="col-2">
                                                <mat-label>Tipo de residencia</mat-label>
                                                <mat-select>
                                                    <mat-option *ngFor="let tipo of tiposResidencias"
                                                        [value]="tipo">{{tipo}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field class="col-2 ms-3">
                                                <mat-label>Condomínio</mat-label>
                                                <mat-select>
                                                    <mat-option *ngFor="let condominio of condominios"
                                                        [value]="condominio">{{condominio}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>


                                            <mat-form-field class="col-2 ms-3">
                                                <mat-label>Bairro</mat-label>
                                                <input matInput name="bairro" formControlName="bairro" type="text"
                                                    placeholder="Ex. Campo Bonito">
                                            </mat-form-field>

                                        </div>
                                    </div>

                                    <div class="justify-content-end d-flex justify-content-between">
                                        <button mat-button class="btn-step-back" matStepperPrevious>
                                            <i-feather name="chevron-left"></i-feather>
                                        </button>
                                        <button mat-button class="btn-step-next" matStepperNext>
                                            <i-feather name="chevron-right"></i-feather>
                                        </button>
                                    </div>
                            </mat-step>
                            
                        </mat-stepper>
                    </div>
                </div>

                <div class="row w-100">
                    <div class="col-12 d-flex justify-content-end pb-3">
                        <button mat-button class="btn-salvar p-3">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>