header {
    z-index: 999;
    position: fixed;
    width: 100%;
}

.main {
   background: url("https://images.alphacoders.com/105/1056130.jpg") no-repeat center top;
   /* background-position: center top; */
   background-size: cover;
   height: 100%;
   /* margin-top: 110px; */
   /* bac;kground-attachment: fixed; */
   /* background-repeat: no-repeat ; */
}

