<h2 class="titulo-modal fw-bold" mat-dialog-title>Marcar novo produto</h2>
<mat-dialog-content class="pt-2 pb-0 container-fluid ">
    <form class="p-0" [formGroup]="formMarcarItem" action="">
        <div class="row w-100 p-0 d-flex">
            <div class="col-12 d-flex justify-content-center">
                <mat-form-field class="me-3" appearance="outline">
                    <mat-label>Codigo do produto</mat-label>
                    <input formControlName="codigoProduto" name="codigoProduto" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="row w-100 p-0">
            <div class="col-12">
                <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Descrição produto</mat-label>
                    <input formControlName="descricaoProduto" name="descricaoProduto" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="row w-100 p-0">
            <div class="col-9 d-flex justify-content-between">

                <mat-form-field class="me-3" appearance="outline">
                    <mat-label>Valor Unt</mat-label>
                    <input type="number" formControlName="valorUnt" (keyup)="inserindoValor($event)" min="1" step="any" name="valorUnt" matInput>
                </mat-form-field>

                <mat-form-field class="" appearance="outline">
                    <mat-label>Qtd</mat-label>
                    <input type="number" formControlName="quantidade" (keyup)="inserindoQuantidade($event)" name="quantidade" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="row w-100 p-0">
            <div class="col-12 pb-2">
                <mat-checkbox [checked]="cliente.historicosConta.length == 1" [disabled]="cliente.historicosConta.length == 1" (change)="mudarOpcaoData($event)" class="example-margin">Marcar para uma data existente ?</mat-checkbox>
            </div>
            <div class="col">
                <mat-form-field *ngIf="isDataExistente || cliente.historicosConta.length == 1" appearance="outline">
                    <mat-label>Selecione a data</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let conta of cliente.historicosConta" [value]="conta.dataPgto">{{conta.dataPgto}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="!isDataExistente && cliente.historicosConta.length > 1" appearance="outline">
                    <mat-label>Escolha a data</mat-label>
                    <input name="dtPagamento" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row pb-0">
            <mat-divider></mat-divider>
            <div class="col d-flex justify-content-end pt-3 pb-0">
                <h3 class="total-items">Total: R$ {{total}}</h3>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end">
    <button class="btn-cancelar" mat-button (click)="onNoClick()">Cancelar</button>
    <button class="btn-marcar" mat-button>Marcar</button>
</mat-dialog-actions>