<nav class="navbar fixed-top mat-elevation-z4">
  <div class="container-fluid d-block p-0 pe0 justify-content-center">
    <div class="row w-100 d-flex align-items-center justify-content-center">
      <div class="col-3 ps-4 align-items-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col-6 d-flex  align-items-center justify-content-center letreiro">
        <img class="logotipo mt-2" src="../../../../assets/img/logo-adega.png" width="120" height="120" alt="">
        <a class="navbar-brand ps-2" href="#">ADEGA DO CB</a>
        <h2 class="d-flex mt-2">Coringa das bebidas</h2>
      </div>
      <div class="col-2 justify-content-center relogio-digital align-items-center d-flex"></div>

      <div class="col-1 area-button-top d-flex justify-content-center align-items-center">
        <button mat-button class="btn-avisos">
          <i-feather name="bell"></i-feather>
        </button>
        <button mat-button [matMenuTriggerFor]="menu" class="btn-user">
          <i-feather name="user" class="icon-user"></i-feather>
        </button>

        <mat-menu class="menu-usuario" #menu="matMenu">
          <button class="d-flex" mat-menu-item>
            <i class="bi bi-person-circle"></i>
            Ver perfil</button>
          <button mat-menu-item>
            <i-feather name="log-out" ></i-feather>
            Logout</button>
        </mat-menu>
      </div>
    </div>

    <div class="row p-0">
      <div class="col painel-informativo d-flex mat-elevation-z4 pt-2">
        <div  class="col-3 ">
          <h3 style="border-right: 3px solid white;" class="informativo-data ps-3 pe-3 fw-bold justify-content-center">INDAIATUBA,  16 DE ABRIL de 2024</h3>
        </div>
        <div class="col painel-informativo-rotativo justify-content-center d-flex">
          <h4 class="me-4 ps-3 fw-bold">♧ ♡ ♤ ♢ ADEGA DO CB ♧ ♡ ♤ ♢ ADEGA DO CB ♧ ♡ ♤ ♢ ADEGA DO CB ♧ ♡ ♤ ♢</h4>
        </div>
      </div>
    </div>




    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header d-flex justify-content-center">
        <h2 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <mat-accordion>
            <mat-expansion-panel class="p-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="mat-panel-title">
                  Clientes
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li class="mb-3" routerLink="/cadastrar-cliente" data-bs-dismiss="offcanvas">
                  <span>Cadastrar</span>
                </li>
                <li routerLink="/clientes" data-bs-dismiss="offcanvas">
                  <span>Listar</span>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion>
            <mat-expansion-panel class="p-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="mat-panel-title">
                  Produtos
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li class="mb-3">
                  <span>Cadastrar</span>
                </li>
                <li>
                  <span>Listar</span>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion>
            <mat-expansion-panel class="p-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="mat-panel-title">
                  Estoque
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li class="mb-3">
                  <span>Consultar</span>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion>
            <mat-expansion-panel class="p-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="mat-panel-title">
                  Relatórios
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li class="mb-3">
                  <span>Consultar</span>
                </li>

                <li class="mb-3">
                  <span>Gerar</span>
                </li>


              </ul>
            </mat-expansion-panel>
          </mat-accordion>


        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>