
.navbar-brand {
    font-family: "agrandi-regular";
    font-size: 60px;
}

.navbar {
 background-color: white;
}

.logotipo {
  scale: 1.7;
  z-index: -1;
}

/* h4 {
  scale: 1.8;
} */

.button-corner {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .mat-panel-title {
    font-size: 25px;
  }

.offcanvas-header {
    font-family: "agrandi-regular";
}

.nav-item a {
    font-family: "agrandi-regular";   
}

.relogio-digital {
    font-family: "agrandi-regular";   
    font-size: 28px;
}

.mat-expansion-panel{
    box-shadow: none !important;
  }

  ul li:hover {
    border-left: 2px solid red;

  }

  .letreiro {
    text-align: justify;
  }
  .letreiro h2 {
    font-family: "agrandi-regular";   
    font-size: 28px;
    color: red;
  }

  .painel-informativo {
    background-color: rgb(240, 6, 6);
    /* font-size: 25px; */
    color: white;
  }

  .painel-informativo h4, h3 {
    font-family: "agrandi-regular";   
    color: white;
    font-size: 20px;
    align-items: center;

  }

  .painel-informativo h4 {
    /* animation: moveToLeft 5s linear infinite; */
    animation-delay: 0ms;
  }

  .painel-informativo-rotativo {
    animation: moveToLeft 7s linear infinite;
    scale: 1.3;
}

  .btn-user, .btn-avisos {
    border-radius: 50px;
  }

  .btn-user:hover, .btn-avisos:hover {
    background-color: red;
    i-feather {
      color: white;
    }
  }

  @keyframes moveToLeft {
0% {
  margin-left: 50px;

}   

    100% {
      transform: translateX(90%);
    }
    
    /* 75% {
      transform: translateX(0px) translateY(200px);
    } */
    /* 100% {
      transform: translateY(0px);
    } */
  }
