<div class="container-fluid p-0 bg-default">
    <div class="row w-100">
        <div class="col-12 titulo-pagina d-flex justify-content-center">
            <span>Novo cadastro</span>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-12 d-flex justify-content-center">
            <mat-card  class="formulario-novo-cadastro">
                <mat-card-content>
                    <form action="">
                        <mat-accordion>
                            <mat-expansion-panel class="mt-3" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="fw-bold">
                                        DADOS PESSOAIS
                                    </mat-panel-title>
                                    <!-- <mat-panel-description>
                                 icone
                                </mat-panel-description> -->
                                </mat-expansion-panel-header>
                                <div class="row d-flex ps-2 pe-2">

                                    <mat-form-field class="col-3 example-full-width ">
                                        <mat-label>CPF</mat-label>
                                        <input name="cpf" matInput placeholder="Ex. 364861...">
                                    </mat-form-field>

                                    <mat-form-field class="col-6 example-full-width agrandi-regular">
                                        <mat-label>Nome completo</mat-label>
                                        <input name="nomeCompleto" matInput placeholder="Ex. Lucas Silva">
                                    </mat-form-field>

                                    <mat-form-field class="col-3 example-full-width ">
                                        <mat-label>Data nascimento</mat-label>
                                        <input name="dataNascimento" matInput placeholder="Ex. 14/11/2001">
                                    </mat-form-field>
                                </div>

                                <div class="row ps-2 pe-2">
                                    <mat-form-field class="col-3 example-full-width ">
                                        <mat-label>Celular</mat-label>
                                        <input name="celular" matInput placeholder="Ex. (19) 99433-0639">
                                    </mat-form-field>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel class="mt-5" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="fw-bold">
                                        ENDEREÇO
                                    </mat-panel-title>
                                    <!-- <mat-panel-description>
                                 icone
                                </mat-panel-description> -->
                                </mat-expansion-panel-header>
                                <div class="row d-flex ps-2 pe-2">
                                    <mat-form-field class="col-3 example-full-width agrandi-regular">
                                        <mat-label>CEP</mat-label>
                                        <input name="cep" id="cep" matInput placeholder="Ex. 13349-053">
                                    </mat-form-field>

                                    <mat-form-field class="col-6 example-full-width ">
                                        <mat-label>Rua</mat-label>
                                        <input name="rua" id="rua" matInput placeholder="Ex. Jangada do Campo">
                                    </mat-form-field>

                                    <mat-form-field class="col-3 example-full-width ">
                                        <mat-label>Numero</mat-label>
                                        <input name="numero" id="numero" matInput placeholder="Ex. Jangada do Campo">
                                    </mat-form-field>
                                </div>

                                <div class="row d-flex ps-2 pe-2">
                                    <mat-form-field class="col-4">
                                        <mat-label>Tipo residência</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let residencia of tiposResidencias"
                                                [value]="residencia">{{residencia}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="col-4">
                                        <mat-label>Condominio</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let condominio of condominios"
                                                [value]="condominio">{{condominio}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div class="area-button pt-3 d-flex justify-content-center">
                            <button mat-button type="submit" class="fw-bold mat-elevation-z4" [swal]="['Sucesso!', 'Cliente cadastrado com sucesso.', 'success']">Salvar</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>




</div>