/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';



@font-face {
    font-family: agrandi-regular;
    src: url(assets/fonts/Agrandir/Agrandir-Regular.otf) format("opentype");
  }

  @font-face {
    font-family: agrandi-light;
    src: url(assets/fonts/Agrandir/Agrandir-GrandLight.otf) format("opentype");
  }

  .mat-elevation-z4 {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: red;
}

.card {
  background: #ebe5e759 !important;
}

i {
  color: black;
}

.mat-panel-title {
  font-family: "agrandi-regular";
  font-size: 30px;   
}

.mat-expansion-panel span {
  font-size: 18px;
  font-family: "agrandi-regular";
}

.mat-expansion-panel ul {
  list-style-type: none;
  width: 100%;
}

.mat-expansion-panel ul li {
  cursor: pointer;
  width: 100%;
  padding-left: 8px;
}

.mat-expansion-panel-body {
  padding-left: 0px !important;
}

.titulo-pagina {
  font-family: "agrandi-regular";
  color: white;
  background-color: rgba(19, 18, 18, 0.562);
  border-radius: 10px;
  text-align: center;
}


.mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
  background-color: rgba(255, 0, 0, 0.774);
}

.mat-step-icon.mat-step-icon-state-edit {
  background-color: black;
}

button {
  font-family: "agrandi-regular";
}

.btn-padrao {
  background-color: red;
  font-size: 14px;
}


button, mat-label {
  font-family: "agrandi-regular" !important;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: red !important;
}

  .mat-mdc-tab.mdc-tab {
    font-family: "agrandi-regular";
    font-weight: bold;
    border-bottom: red !important;
}

.mat-mdc-tab.mdc-tab.mdc-tab.mdc-tab--active {
  background-color: rgba(19, 18, 18, 0.671);
  font-weight: 900;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: white !important;
}


td, th, h3 {
  font-family: "agrandi-regular";
}


tr {
  cursor: pointer;
}

.mat-mdc-row .mat-mdc-cell {
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: black;
}

.mat-step-header .mat-step-label .mat-step-text-label {
  font-family: "agrandi-regular";
  font-weight: 600;
}

.mat-mdc-option.mdc-list-item {
  font-family: 'agrandi-regular';
  font-weight: 600;

  &:hover {
    background-color: black;
    color: white;
  
  }
  
}

.mat-select {
  font-family: "agrandi-regular";
}


/* 
  @font-face {
    font-family: agrandi-regular;
    src: url(assets/fonts/Agrandir/Agrandir-Regular.otf) format("opentype");
  } */
html, body { height: 100%; }
body { 
  /* background: url("https://images.alphacoders.com/105/1056130.jpg") center top; */
  background-size: cover;

  margin: 0;  font-family: Roboto, "Helvetica Neue", sans-serif; }
